@model CadastroMVC.Models.ViewModel.AssociadoViewModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Olá <b>@Model.Nome</b>!</h1>
    <h5>Confira todas as suas informações a seguir:</h5>
    <br />
    @if (TempData["Update"] != null)
    {
            <div class="alert alert-success" role="alert">
            @TempData["Update"]
            </div>
    }
    <h3>Associado</h3>
    <p>Nome: <b>@Model.Nome</b></p>
    <p>CPF: <b>@Model.CPF</b></p>
    <p>Telefone: <b>@Model.Telefone</b></p>
    <br />
    <h3>Carro</h3>
    <p>Modelo: <b>@Model.Carro.Modelo</b></p>
    <p>Placa: <b>@Model.Carro.Placa</b></p>
    <br />
    <h3>Endereço</h3>
    <p>CEP: <b>@Model.Endereco.CEP</b></p>
    <p>Rua: <b>@Model.Endereco.Rua</b></p>
    <p>Numero: <b>@Model.Endereco.Numero</b></p>
    <p>Bairro: <b>@Model.Endereco.Bairro</b></p>
    <p>Cidade: <b>@Model.Endereco.Cidade</b></p>
    <p>País: <b>@Model.Endereco.Pais</b></p>
    <p>Observação: <b>@Model.Endereco.Observacao</b></p>
    <a class="btn btn-primary" asp-action="Update">Atualizar endereço</a>
</div>