@model CadastroMVC.Models.ViewModel.AssociadoViewModel
@{
    ViewData["Title"] = "Início";
}
@if (TempData["Update"] != null)
    {
            <div class="alert alert-success" role="alert">
            @TempData["Update"]
            </div>
    }

<header>
        <div class="container-header">
            <div class="header-logo-div">
                <p>ProAuto</p>
            </div>
            <div class="header-link-a">
                <a href="">Segurança</a>
                <a href="">Localidades</a>
                <a href="">Ajuda</a>
                <a href="">Bank</a>
            </div>
            <div class="header-button-div">
                <a href="/User/Login">Sair</a>
            </div>
        </div>
    </header>

    <main>
        <div id="container-data-div">

            <div class="container-description-div">
                <p id="description-subtitle-p">Seu veículo</p>
                <h1><span>Seguro</span><br/>com a gente</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content</p>
            </div>
    
            <div class="container-data-div">
                <h1>Dados</h1>
                <div class="data-result-div">
                    <div class="data-result-container-div">
                        <div>
                            <p>Nome</p>
                            <h3>@Model.Nome</h3>
                        </div>
                        <div>
                            <p>CPF</p>
                            <h3>@Model.CPF</h3>
                        </div>
                        <div>
                            <p>Telefone</p>
                            <h3>@Model.Telefone</h3>
                        </div>
                        <div>
                            <p>Modelo</p>
                            <h3>@Model.Veiculo.Modelo</h3>
                        </div>
                        <div>
                            <p>Placa</p>
                            <h3>@Model.Veiculo.Placa</h3>
                        </div>
                        <div>
                            <p>CEP</p>
                            <h3>@Model.Endereco.CEP</h3>
                        </div>
                    </div>
    
                    <div class="data-result-container-div">
                        <div>
                            <p>Rua</p>
                            <h3>@Model.Endereco.Rua</h3>
                        </div>
                        <div>
                            <p>Número</p>
                            <h3>@Model.Endereco.Numero</h3>
                        </div>
                        <div>
                            <p>Bairro</p>
                            <h3>@Model.Endereco.Bairro</h3>
                        </div>
                        <div>
                            <p>Cidade</p>
                            <h3>@Model.Endereco.Cidade</h3>
                        </div>
                        <div>
                            <p>País</p>
                            <h3>@Model.Endereco.Pais</h3>
                        </div>
                        <div>
                            <p>Observação</p>
                            <h3>@Model.Endereco.Observacao</h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

@section Styles {
    <link rel="stylesheet" href="~/css/data.css" asp-append-version="true" />
}
